{
  border: solid 1px black;
}

.minima {
  font-size: 5em;
}

h2 {
  font-size: 4em;
  font-weight: normal;
  color: grey;
}

h3 {
  font-size: 3em;
  font-family: cursive;
  color: #FF60A0;
}

.alpha {
  margin-top: .7em;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus, .nav-pills>li>a:hover {
  color: #fff;
  background-color: #FF60A0;
}

.nav>li>a {
  padding: 35px 15px;
  color: black;
}

.text_under_main_image {

}

.latest {
  font-size: 2em;
  font-family: Garamond;
  color: black;
}

.boxone, .boxtwo, .box_three, .box_four {
  width: 18em;
  height: 14em;
}

.boxfourh5 {
  margin-bottom: 3em;
}

hr {
  border: 1px solid black;
}

.col-xs-12 .col-md-3 > h5 {
  color: #FF60A0;
  font-style: italic;
}

.sixdivcontainer {
  max-width: 93%;
}

.sixdivs {
  height: 15em;
  min-width: 33.33%;
  background-color: white;
  color: grey;
}

.sixdivs > h3 {
  font-family: sans-serif;
  font-style: garamond;
  font-weight: bold;
  color: grey;
  font-size: 2em;
}

.sixdivs > p {
  font-family: sans-serif;
  font-style: garamond;
  color: grey;
  font-size: 1.2em;
  margin: .5em 2em;
}

.footstyle {
  margin: 0 -35px;
}

.threequal {
  height: 20em;
  min-width: 33.333%;
  background-color: #585858 ;
}

.threequal > h3 {
  font-family: "Times New Roman", Times, serif;
  font-size: 1.6em;
  font-weight: bold;
  margin: 1em 4em 1em 2em;
}

.threequal > p {
  color: white;
  margin: 0 4em;
}

.glyphicon {
  margin-left: -.3em;
  margin-right: .9em;
  font-size: .7em;
}

ul {
  list-style: none;
} 

li {
  padding-left: .8em;
  color: white;
  margin-bottom: 1.5em;
}

.fa {
  margin-right: .9em;
  font-weight: bold;
}

li > img {
  width: 3em;
  height: 3em;
  margin-right: .6em;
  display: inline-block;
}

/*

@media screen and (min-width: 480px ) {
    body {
        background-color: lightgreen;
    }
}

@media screen and (min-width: 768px ) {
    body {
        background-color: lightblue;
    }
}

@media screen and (min-width: 960px ) {
    body {
        background-color: tomato;
    }
}

@media screen and (min-width: 1280px ) {
    body {
        background-color: forestgreen;
    }
}

*/